* {
    box-sizing: border-box; 
}

:root {
    
}

body {
    margin: 0;
    padding: 0;
}

#controls {
    width: 100%;
    background-color: black;
    height: 100px;
    border: 1px solid white;
}

canvas {
    height: 500px;
    width: 100%;
    aspect-ratio: 1 / 1;
    background-color: black;
}