* {
    box-sizing: border-box; 
}

:root {
    
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

#controls {
    width: 100%;
    background-color: #a0a0a0;
    height: 50%;
}

canvas {
    width: 100%;
    max-height: 100%;
    background-color: black;
}