* {
    box-sizing: border-box; 
    font: 15px 'DM Sans', sans-serif;
    color: var(--clr-light);
}

:root {
    /* colors */
    --clr-light: #fafafa;
    --clr-dark: #1a1a1a;
    --clr-accent:  #FEE715;
    --clr-main: #1f1f1f;
    /* desktop font sizes */
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overscroll-behavior: none;
    background-color: var(--clr-main);
}

#controls {
    margin: auto;
    width: 90vmin;
    background-color: var(--clr-main);
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.ctrl_elem {
    margin: 10px;
    color: var(--clr-light);
    background-color: var(--clr-dark);
}

.ctrl_btn {
    border: 1px solid var(--clr-light);
}

.ctrl_btn:hover {
    color: var(--clr-accent);
    border-color: var(--clr-accent);
}

#spacer {
    flex: 1;
}

canvas {
    margin: auto;
    width: 90vmin;
    aspect-ratio: 1 / 1;
    background-color: black;
}